# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Frame.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\GitHub\Frame\.idea\.idea.Frame\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
